
<div class="container">
  <div class="form-section">
    <input
      type="text"
      [(ngModel)]="countryName"
      placeholder="Search for a country"
    />
    <div class="select">
      <button (click)="showRegion()">
        <p>{{ regionName }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
          fill="#FFFFFF"
        >
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </button>
      <ul *ngIf="isShowRegion">
        <li><button (click)="setRegionName('Africa')">Africa</button></li>
        <li><button (click)="setRegionName('Americas')">Americas</button></li>
        <li><button (click)="setRegionName('Asia')">Asia</button></li>
        <li><button (click)="setRegionName('Europe')">Europe</button></li>
        <li><button (click)="setRegionName('Oceania')">Oceania</button></li>
      </ul>
    </div>
  </div>

  <ul class="country-list">
    <div class="loading" *ngIf="filteredCountry.length === 0 || !errorMessage">
      <div class="loading-icon"></div>
    </div>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <li *ngFor="let country of filteredCountry" class="card" (click) = 'onclick(country!.name)'>
      <img [src]="country?.flags?.svg" alt="{{ country?.name }} flag" />
      <div class="card-body">
        <h2>{{ country?.name }}</h2>
        <p>Population: {{ country?.population }}</p>
        <p>Region:{{ country?.region }}</p>
        <p>Capital:{{ country?.capital }}</p>
      </div>
    </li>
  </ul>
</div>
