<div class="btn">
  <button routerLink="/countries">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      enable-background="new 0 0 24 24"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#000000"
    >
      <rect fill="none" height="24" width="24" />
      <path d="M9,19l1.41-1.41L5.83,13H22V11H5.83l4.59-4.59L9,5l-7,7L9,19z" />
    </svg>
    Back
  </button>
</div>

<div class="country-container">
  <div class="flag">
    <img src="" alt="" />
  </div>
  <div class="country-info">
    <h1 class="title">Belgium</h1>
    <div class="body">
      <p>Native Name: Belgie</p>
      <p>Top Level Domain: .be</p>
      <p>Currencies: Euro</p>
      <p>languages: Dutch, French, German</p>
      <p>Population: 11,319,511</p>
      <p>Region: Europe</p>
      <p>Sub Region: Western Europe</p>
      <p>Capital: Brussels</p>
    </div>

    <div class="foot">
      <p>Border Countries:</p>
      <div class="foot-btn">
        <button>France</button>
        <button>Germany</button>
        <button>Netherlands</button>
      </div>
    </div>
  </div>
</div>
